# Tuple 
    Tuple is a collection of numbers
    Tuple is notes as ()
    By default all machine learning outputs should be stored as Tuple

In [1]:
my_tuple = (1,42,345,34,"Sudhakar", "Hello", "Jemmi")

In [2]:
my_tuple

(1, 42, 345, 34, 'Sudhakar', 'Hello', 'Jemmi')

# Tuple with nest tuple
    Tuple can be created without ()
    If we create tuple with one element it acts like that element

In [4]:
nested_tuple = (1,4.5,"Sudhakar", [1,2,3,4,"Hello"], (32,23.23,456,"Hello"))

In [5]:
nested_tuple

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 'Hello'], (32, 23.23, 456, 'Hello'))

In [6]:
tuple1 = 1,'q',4.5

In [7]:
tuple1

(1, 'q', 4.5)

In [8]:
a,b,c = tuple1

In [11]:
a

1

In [12]:
b

'q'

In [13]:
c

4.5

In [14]:
one_element_tuple = ("sudhakar")

In [15]:
type(one_element_tuple)

str

In [16]:
one_element_tuple = ("sudhakar",)

In [17]:
type(one_element_tuple)

tuple

# Access Tuple Elements
There are various ways in which we can access the elements of a tuple.

    1. Indexing
    We can use the index operator [] to access an item in a tuple where the index starts from 0.

    So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an element outside of tuple (for example, 6, 7,...) will raise an IndexError.

    The index must be an integer; so we cannot use float or other types. This will result in TypeError.

    Likewise, nested tuples are accessed using nested indexing, as shown in the example below.

In [18]:
my_tuple[1]

42

In [19]:
my_tuple[5]

'Hello'

In [20]:
nested_tuple[4]

(32, 23.23, 456, 'Hello')

In [22]:
nested_tuple[3]

[1, 2, 3, 4, 'Hello']

In [23]:
nested_tuple[3][4]

'Hello'

In [24]:
nested_tuple[4][3]

'Hello'

In [25]:
nested_tuple[-1]

(32, 23.23, 456, 'Hello')

In [26]:
nested_tuple.__len__

In [28]:
nested_tuple[-5]

1

# Negative range and Slicing operator -- ':'
    We can access a range of items in a tuple by using the slicing operator - colon ":".
    Python allows negative indexing for its sequences.The index of -1 refers to the last item, -2 to the second last item and so on.

In [29]:
nested_tuple[1:4]

(4.5, 'Sudhakar', [1, 2, 3, 4, 'Hello'])

In [30]:
nested_tuple[-1:-5]

()

In [31]:
nested_tuple[-1:-3]

()

In [32]:
nested_tuple

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 'Hello'], (32, 23.23, 456, 'Hello'))

In [33]:
nested_tuple[-1:]

((32, 23.23, 456, 'Hello'),)

In [34]:
nested_tuple[:-1]

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 'Hello'])

In [35]:
nested_tuple[-2:]

([1, 2, 3, 4, 'Hello'], (32, 23.23, 456, 'Hello'))

# Changing a Tuple
    Unlike lists, tuples are immutable.
    This means that elements of a tuple cannot be changed once it has been assigned.
    But, if the element is itself a mutable datatype like list, its nested items can be changed.
    We can also assign a tuple to different values (reassignment).

In [37]:
nested_tuple[3][4]= "Sudhakar"

In [38]:
nested_tuple

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 'Sudhakar'], (32, 23.23, 456, 'Hello'))

In [39]:
nested_tuple[3][4]= 5

In [40]:
nested_tuple

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 5], (32, 23.23, 456, 'Hello'))

In [41]:
nested_tuple[3][4]= 3

In [42]:
nested_tuple

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 3], (32, 23.23, 456, 'Hello'))

# + and * operators
    we can concat two tuples by using '+' operator
    We can get multiples of tuple values by using '*' operator.

In [43]:
nested_tuple + my_tuple

(1,
 4.5,
 'Sudhakar',
 [1, 2, 3, 4, 3],
 (32, 23.23, 456, 'Hello'),
 1,
 42,
 345,
 34,
 'Sudhakar',
 'Hello',
 'Jemmi')

In [45]:
mul_tuple = (1,2,3,4)

In [47]:
(1,2,3)* 2

(1, 2, 3, 1, 2, 3)

In [48]:
mul_tuple * 5

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# Deleting a Tuple
    As discussed above, we cannot change the elements in a tuple. That also means we cannot delete or remove items from a tuple.
    But deleting a tuple entirely is possible using the keyword del.

In [50]:
del mul_tuple

In [51]:
mul_tuple

NameError: name 'mul_tuple' is not defined

# Tuple Methods
    Methods that add items or remove items are not available with tuple. Only the following two methods are available.

    Python Tuple Method
    Method	Description
    count(x)	Returns the number of items x
    index(x)	Returns the index of the first item that is equal to x
    Some examples of Python tuple methods:

In [55]:
nested_tuple.count('Hello')

0

In [57]:
nested_tuple.index('Sudhakar')

2

In [58]:
nested_tuple

(1, 4.5, 'Sudhakar', [1, 2, 3, 4, 3], (32, 23.23, 456, 'Hello'))

# Advantages of Tuple over List
    Since tuples are quite similar to lists, both of them are used in similar situations as well.
    However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:
    We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
    Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
    Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
    If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.