# Sets are two types
    1.Normal Set -- Mutable 
    2.Frozen Set -- Immutable
    Both Sets doesn't support Indexing
    By default sets are ordered data and removes doesn't allow duplicates
    Sets write in {}

In [1]:
my_set = {12,1,234,456,32,5467,34,34,34,435,456}

In [3]:
my_set

{1, 12, 32, 34, 234, 435, 456, 5467}

# Copying are two types
    1.Shallow Copy --> By using copy() method. It copies data once and it won't update dynamically
    2.Deep copy --> By using '=' operator. It's dynamic after copy also if you modify original it changes in copy also.

In [4]:
my_set1 = my_set.copy()

In [5]:
my_set1

{1, 12, 32, 34, 234, 435, 456, 5467}

In [7]:
my_set2 = my_set

In [8]:
my_set1.pop()

32

In [9]:
my_set.pop()

32

In [10]:
my_set.pop()

1

In [11]:
my_set

{12, 34, 234, 435, 456, 5467}

In [12]:
my_set1

{1, 12, 34, 234, 435, 456, 5467}

In [13]:
my_set2

{12, 34, 234, 435, 456, 5467}

In [14]:
id(my_set1)

2028640362568

In [15]:
id(my_set2)

2028621965800

In [16]:
id(my_set)

2028621965800

In [18]:
my_set2.pop()

34

# pop() method
    It removes random element from Set and adjust reamining Objects in asc order
    It doesn't take any parameters

In [19]:
my_set2.add(32)

In [23]:
my_set2.add(67)

In [21]:
my_set2.add(34)

In [22]:
my_set2

{12, 32, 34, 234, 435, 456, 5467}

# add(element) method with one parameter
    This method is used to add an element/object to set
    And it takes only one parameter and insert with sorting order

In [24]:
my_set2.clear

In [25]:
my_set2.clear()

In [26]:
my_set2

set()

In [27]:
my_set2 = my_set.copy()

In [29]:
my_set2.clear()

In [30]:
my_set2 = my_set.copy()

In [31]:
my_set2

set()

In [32]:
my_set

set()

In [33]:
my_set1

{1, 12, 34, 234, 435, 456, 5467}

In [34]:
my_set2 = my_set1.copy()

In [35]:
my_set2

{1, 12, 34, 234, 435, 456, 5467}

In [36]:
my_set2.difference(my_set1)

set()

In [37]:
my_set1.add(100)

In [39]:
my_set1.difference(my_set2)

{100}

In [40]:
my_set1.add(1002)

In [41]:
my_set1.add(1100)

In [42]:
my_set1.add(4100)

In [43]:
my_set1.difference(my_set2)

{100, 1002, 1100, 4100}

In [44]:
my_set1.difference_update(my_set2)

In [45]:
my_set1

{100, 1002, 1100, 4100}

In [46]:
my_set2

{1, 12, 34, 234, 435, 456, 5467}

In [47]:
my_set1.union(my_set2)

{1, 12, 34, 100, 234, 435, 456, 1002, 1100, 4100, 5467}

In [48]:
my_set1

{100, 1002, 1100, 4100}

In [49]:
my_set2

{1, 12, 34, 234, 435, 456, 5467}

In [50]:
my_set1.update(my_set2)

In [51]:
my_set1

{1, 12, 34, 100, 234, 435, 456, 1002, 1100, 4100, 5467}

In [52]:
my_set2

{1, 12, 34, 234, 435, 456, 5467}

# clear() , union() , update(), difference(), difference_update()
    clear() --> remove all elemnets from set -- no parameters
    union() --> it does union of two sets -- parameter as another Set
    update() --> it does union of two sets and save results in main Set -- parameter as another Set
    difference() --> It gives difference of main to parameter set -- parameter as another Set
    difference_update() --> It gives difference of main to parameter set and save results in main set -- parameter as another Set

In [53]:
my_set2.__and__

In [54]:
my_set2.__and__(my_set1)

{1, 12, 34, 234, 435, 456, 5467}

# Frozen set 
    This is immutable in nature  and Set is mutable in nature

In [58]:
Student_dict = {"name": "Ankit", "age": 21, "sex": "Male",  
           "college": "MNNIT Allahabad", "address": "Allahabad"}

In [61]:
frozen_set_student_keys = frozenset(Student_dict)

In [62]:
frozen_set_student_keys

frozenset({'address', 'age', 'college', 'name', 'sex'})