# List in python
    In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.
    It can have any number of items and they may be of different types (integer, float, string etc.).
    Also, a list can even have another list as an item. This is called nested list.

In [1]:
my_list = []

In [2]:
my_list

[]

In [3]:
my_list = [1,2,3]

In [4]:
my_list

[1, 2, 3]

In [5]:
my_list = [1,2.2,"Sudhakar"]

In [6]:
my_list

[1, 2.2, 'Sudhakar']

In [7]:
my_list = [1,2,3.2,"Hello", ["Sudhakar", 65,12,346] , "Hello" , 1,2,3.2]

In [8]:
my_list

[1, 2, 3.2, 'Hello', ['Sudhakar', 65, 12, 346], 'Hello', 1, 2, 3.2]

# List Indexing
    We can use the index operator [] to access an item in a list. Index starts from 0. So, a list having 5 elements will have index from 0 to 4.
    Trying to access an element other that this will raise an IndexError. The index must be an integer. We can't use float or other types, this will result into TypeError.
    Nested list are accessed using nested indexing.
    
    Python allows negative indexing for its sequences. The index of -1 refers to the last item, -2 to the second last item and so on.
    We can access a range of items in a list by using the slicing operator (colon).

In [9]:
my_list[4]

['Sudhakar', 65, 12, 346]

In [15]:
my_list[10]

IndexError: list index out of range

In [14]:
my_list[1.2]

TypeError: list indices must be integers or slices, not float

In [17]:
my_list[4][0]

'Sudhakar'

In [18]:
my_list[-1]

3.2

In [19]:
my_list[-5]

['Sudhakar', 65, 12, 346]

In [20]:
my_list[1:4]

[2, 3.2, 'Hello']

In [21]:
my_list[:4]

[1, 2, 3.2, 'Hello']

In [22]:
my_list[:-4]

[1, 2, 3.2, 'Hello', ['Sudhakar', 65, 12, 346]]

In [23]:
my_list[-4:]

['Hello', 1, 2, 3.2]

# Change or add elements to list
    List are mutable, meaning, their elements can be changed unlike string or tuple.
    We can use assignment operator (=) to change an item or a range of items.
    We can add one item to a list using append() method or add several items using extend() method.

In [24]:
my_list[0] = (1,2,3)

In [25]:
my_list

[(1, 2, 3), 2, 3.2, 'Hello', ['Sudhakar', 65, 12, 346], 'Hello', 1, 2, 3.2]

In [26]:
my_list.append(20)

In [27]:
my_list

[(1, 2, 3), 2, 3.2, 'Hello', ['Sudhakar', 65, 12, 346], 'Hello', 1, 2, 3.2, 20]

In [30]:
my_list.extend([1,2,3,4,5,6,"Sudhakar"])

In [31]:
my_list

[(1, 2, 3),
 2,
 3.2,
 'Hello',
 ['Sudhakar', 65, 12, 346],
 'Hello',
 1,
 2,
 3.2,
 20,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 'Sudhakar']

# dlete or remove elements from list
    We can delete one or more items from a list using the keyword del. It can even delete the list entirely.

In [32]:
del my_list[10]

In [33]:
del my_list[10]

In [35]:
del my_list[10:15]

In [37]:
del my_list[10:]

In [38]:
my_list

[(1, 2, 3), 2, 3.2, 'Hello', ['Sudhakar', 65, 12, 346], 'Hello', 1, 2, 3.2, 20]

# clear() remove() pop() methods
    clear() delete all the elements of list -- gives empty list
    remove() delete the given item from list
    pop() delete the item based on iput index, if we are not provinding by default it delets last element

In [39]:
my_list.remove(2)

In [40]:
my_list

[(1, 2, 3), 3.2, 'Hello', ['Sudhakar', 65, 12, 346], 'Hello', 1, 2, 3.2, 20]

In [41]:
my_list.remove(3.2)

In [42]:
my_list

[(1, 2, 3), 'Hello', ['Sudhakar', 65, 12, 346], 'Hello', 1, 2, 3.2, 20]

In [43]:
my_list.pop(3)

'Hello'

In [44]:
my_list

[(1, 2, 3), 'Hello', ['Sudhakar', 65, 12, 346], 1, 2, 3.2, 20]

In [45]:
my_list.pop()

20

In [46]:
my_list.clear()

In [47]:
my_list

[]