# Tuple
1.collection of numbers and strings
2.Tuples are immutable
Tuple must be writen in ()

In [3]:
my_tuple = (10,20,30,40,"Sudhakar","Rushi","Bala")

In [6]:
my_tuple.index(20)

1

In [7]:
my_tuple+my_tuple

(10,
 20,
 30,
 40,
 'Sudhakar',
 'Rushi',
 'Bala',
 10,
 20,
 30,
 40,
 'Sudhakar',
 'Rushi',
 'Bala')

In [8]:
my_set = {15,15,20,30,12,23,45}

In [10]:
my_set

{12, 15, 20, 23, 30, 45}

In [12]:
my_set[0]

TypeError: 'set' object does not support indexing

In [13]:
my_set.add(500)

In [15]:
my_set

{12, 15, 20, 23, 30, 45, 500}

In [18]:
my_set.remove(30)

KeyError: 30

In [20]:
my_set

{12, 15, 20, 23, 45, 500}

In [22]:
my_set.pop()

45

In [23]:
my_set1 ={10,15,26,5,'Sudhakar','Suguna','Rama'}

In [25]:
my_set1

{10, 15, 26, 5, 'Rama', 'Sudhakar', 'Suguna'}

In [26]:
a={12,34,56,78,23,14,45,568,70}

In [27]:
b={123,6534,23,43,45,23,45,65}

In [29]:
a.union(b)

{12, 14, 23, 34, 43, 45, 56, 65, 70, 78, 123, 568, 6534}

In [31]:
a.intersection(b)

{23, 45}

In [32]:
a.intersection_update(b)

In [34]:
a

{23, 45}

In [35]:
b

{23, 43, 45, 65, 123, 6534}

In [38]:
a.difference(b)

{5, 6, 12, 34, 212, 789}

In [37]:
a={12,34,5,6,789,212}

In [41]:
a.discard(b)

In [42]:
a

{5, 6, 12, 34, 212, 789}

In [43]:
a.copy()

{5, 6, 12, 34, 212, 789}

In [44]:
id(a)

1806910273128

In [45]:
a1=a

In [46]:
id(a1)

1806910273128

In [47]:
a2=a.copy(a)

TypeError: copy() takes no arguments (1 given)

In [48]:
a2 = a.copy()

In [49]:
id(a2)

1806910273800

In [50]:
fr_set = frozenset({123,234,3654,575,8,89,0,122})

In [51]:
fr_set

frozenset({0, 8, 89, 122, 123, 234, 575, 3654})

In [52]:
type(fr_set)

frozenset

In [53]:
ab = list(fr_set)

In [54]:
type(ab)

list

In [55]:
ab

[0, 3654, 8, 234, 89, 122, 123, 575]

In [56]:
ab1 = set(fr_set)

In [57]:
ab1

{0, 8, 89, 122, 123, 234, 575, 3654}

In [58]:
my_dict = {"Name":"Tara","Age":30,"loc":["NJ","NY","ALT"], "Salary":50000.05,"qual":("MS","BS")}

In [59]:
type(my_dict)

dict