# user define functions
    1.parameters
    2.body functionality
    any UDF starts with def key word.
    def <function_name>(parameters):{body of the function, return is optional and it can be add any where in the code}
    after return if we add any statements it won't execute and it says if return is there retun should be last statement.

In [1]:
def add_numbers(x,y):
    z =x+y
    return z

In [2]:
add_numbers(2,3)

5

In [3]:
def add_numbers(x,y):
    return x+y

In [4]:
add_numbers(45,20)

65

In [7]:
def add_numbers(x,y):
    z =x+y
    return z
    print(z)

In [8]:
add_numbers(23,4557)

4580

In [15]:
def add_numbers(x,y):
    z =x+y
    print(z)
    print(x)
    print(y)
    return z

In [16]:
add_numbers(2334,435)

2769
2334
435

2769

In [11]:
type(add_numbers)

function

In [14]:
add_numbers(2334,435)

2769

In [17]:
add_numbers(3+4.56)

TypeError: add_numbers() missing 1 required positional argument: 'y'

In [18]:
add((2+3.4), 234224)

NameError: name 'add' is not defined

In [19]:
add_numbers((2+3.4), 234224)

234229.4
5.4
234224

234229.4

In [20]:
add_numbers("hello" , "--> Sudhakar")

hello--> Sudhakar
hello
--> Sudhakar

'hello--> Sudhakar'

In [21]:
def fun_cal(x,y):
    a=x+y
    b=x-y
    c=x*y
    d=x%y
    return a,b,c,d

In [22]:
fun_cal(30,10)

(40, 20, 300, 0)

In [23]:
list(fun_cal(50,23))

[73, 27, 1150, 4]

In [25]:
def fun_cal1(x,y):
    a=x+y
    b=x-y
    c=x*y
    d=x%y
    return {a,b,c,d}

In [26]:
fun_cal1(70,20)

{10, 50, 90, 1400}

In [31]:
def fun_cal2(x,y):
    a=sum(x)
    b=sum(y)
    return {a,b}

In [32]:
fun_cal2(x=[1,2,3,4], y =[3,4,5,6])

{10, 18}

In [33]:
def for_each(x, sumx):    
    for i in x:
        sumx = sumx+i
        print(sumx)

In [34]:
for_each(x = range(1,10))

1
3
6
10
15
21
28
36
45

In [37]:
for_each(x = [1,2,3,4,5,6,7,8,9,0], sumx =0)

TypeError: for_each() got an unexpected keyword argument 'sumx'

In [38]:
def for_cal(i,j,k):
    for i in range(i,j):
        k=k+i
        print("each iteration",i,"values are",k)

In [39]:
for_cal(1,8,0)

each iteration 1 values are 1
each iteration 2 values are 3
each iteration 3 values are 6
each iteration 4 values are 10
each iteration 5 values are 15
each iteration 6 values are 21
each iteration 7 values are 28

In [40]:
for_cal(3,12,3.3)

each iteration 3 values are 6.3
each iteration 4 values are 10.3
each iteration 5 values are 15.3
each iteration 6 values are 21.3
each iteration 7 values are 28.3
each iteration 8 values are 36.3
each iteration 9 values are 45.3
each iteration 10 values are 55.3
each iteration 11 values are 66.3

In [41]:
for_cal(3,12.4,3.3)

TypeError: 'float' object cannot be interpreted as an integer

# defult parameters

In [43]:
def default_params(x = 10, y= 20):
    z= x+y
    return z

In [44]:
default_params(23)

43

In [45]:
def fun_myname(fname):
    return fname+"  how are you"

In [46]:
fun_myname("Sudhakar")

'Sudhakar  how are you'

In [47]:
def my_fun(country = "India"):
    return "I am from "+ country

In [48]:
my_fun()

'I am from India'

In [49]:
my_fun("USA")

'I am from USA'

In [50]:
def my_fun12(food):
    for i in food:
        print(i)

In [51]:
food = ["Pinapple","Apple"]

In [52]:
my_fun12(food)

Pinapple
Apple

In [53]:
food_set = {"Apple","Orange"}

In [54]:
my_fun12(food_set)

Orange
Apple

In [58]:
def fun_odd_even(x):
    for i in x:
        if(i%2)==0:
            print("even numbers",i)

In [59]:
fun_odd_even(range(1,30))

even numbers 2
even numbers 4
even numbers 6
even numbers 8
even numbers 10
even numbers 12
even numbers 14
even numbers 16
even numbers 18
even numbers 20
even numbers 22
even numbers 24
even numbers 26
even numbers 28

In [61]:
def my_function(*kids):
    print("the youngest kid is "+ kids[3])

In [63]:
my_function("Sudhakar","hello","ahahaha","wewee","dsfsfdafs")

the youngest kid is wewee

# above are Orbitarary arguments

In [88]:
def fun_prime(x):
    for i in x:
        for j in range(2,i):
                if(i%j==0):
                    break
                print("prime number" , i)

# recursion functions

In [89]:
fun_prime(x = [1,2,3,4,5,6,7,8,9])

prime number 3
prime number 5
prime number 5
prime number 5
prime number 7
prime number 7
prime number 7
prime number 7
prime number 7
prime number 9

In [70]:
def tri_recursion(k):
    if(k>0):
        result = k+tri_recursion(k-1)
    else:
        result = 0
    return result
print("\n\n Recursion example")
tri_recursion(6)

 Recursion example

21

In [79]:
add_numbers=lambda x,y:x+y

In [80]:
add_numbers(34,54)

88

In [81]:
add_numbers("asjfs","hjsdaf")

'asjfshjsdaf'

In [86]:
add_number = lambda x,y:{x+y,x*y,x%y}

In [87]:
add_number(1223,3454)

{1223, 4677, 4224242}

In [90]:
ab = lambda x:len(x)

In [91]:
ab(a)

NameError: name 'a' is not defined

In [92]:
a= "helo sudhakar how are you"

In [93]:
ab(a)

25

# lambda function in python

In [94]:
ab = lambda x:x.split()

In [95]:
ab(a)

['helo', 'sudhakar', 'how', 'are', 'you']

# List comphrences in python
    1.lambda
    2.map
    3.filter
    4.reduce

In [97]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [98]:
abc = [10,20]

In [99]:
map_fun = map(lambda x:x*5 , abc)

In [100]:
list(map_fun)

[50, 100]

In [105]:
def efx(x):
    return x*5

In [106]:
map_fun1 = map(efx,[1,2,3,4])

In [107]:
tuple(map_fun1)

(5, 10, 15, 20)

In [117]:
dict_a = [{"name":"python","points":10},{"name":"java","points":8}]

In [118]:
dict_a

[{'name': 'python', 'points': 10}, {'name': 'java', 'points': 8}]

In [119]:
ab = map(lambda x:x["name"],dict_a)

In [120]:
print(list(ab))

['python', 'java']