# Python Program to Print Hello world!

In [1]:
print("Hello World!")

Hello World!

# Python Program to Add Two Numbers

In [2]:
a=10

In [3]:
b=20

In [4]:
c = a+b

In [5]:
c

30

# Python Program to Find the Square Root
    sqrt of a is a**0.5

In [43]:
a = 100
b = a**0.5
b

10.0

# Python Program to Calculate the Area of a Triangle
    if a,b,c are sides of triangle then area of triangle is 
        1. s = a+b+c/2
        2. area = (s(s-a)(s-b)(s-c))**0.5

In [41]:
a=4
b=5
c=6
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))** 0.5
area

9.921567416492215

In [35]:
area

9.921567416492215

In [36]:
def areaoftriangle_function(side1,side2,side3):
    s = (side1+side2+side3)/2
    area = (s*(s-a)*(s-b)*(s-c))**0.5
    return area

In [42]:
areaoftriangle_function(4,5,6)

9.921567416492215

In [40]:
areaoftriangle_function(2,3,4)

1.299038105676658

# Python Program to Swap Two Variables

In [48]:
a =10
b= 20

temp = a
a=b
b= temp

print(" 'a' values is ",a)
print(" 'b' values is ",b)

 'a' values is  20
 'b' values is  10

In [49]:
def swap_function(a,b):
    temp = a
    a=b
    b=temp
    return (a,b)

In [50]:
swap_function(10,20)

(20, 10)

# python program to convert kilometers to miles
    1km = 0.621371 miles called conversion factor

In [51]:
kilometers = 10
miles = 10*0.621371
miles

6.21371

In [52]:
def kilmts_to_miles_function(k):
    conversion_factor = 0.621371
    miles = k * conversion_factor
    return miles

In [53]:
kilmts_to_miles_function(2345)

1457.114995

# python program to convert celsius to fahrenheit
    1 . (0celsius*9/5) + 32 = 32F conversion formula

In [59]:
celsius = [0,1,2,4,5,6]
empty_list = list()
for i in celsius:
    a=(i*9/5)+32
    empty_list.append(a)
empty_list

[32.0, 33.8, 35.6, 39.2, 41.0, 42.8]

In [63]:
def celsius_to_fah_function(celsius):
    a=(celsius*9/5)+32
    return a

In [64]:
celsius_to_fah_function(123)

253.4

# python program to check the given number is odd or even

In [66]:
a=7
if(a%2==0):
    print("even")
else:
    print("odd")

odd

In [68]:
def odd_even_check_function(a):
    if(a%2==0):
        return "even"
    else:
        return "odd"

In [69]:
odd_even_check_function(6)

'even'

In [70]:
odd_even_check_function(9)

'odd'

# python program to check the given number is negative or positive or 0

In [74]:
a=6
if(a>0):
    print("positive value")
elif(a<0):
    print("negative value")
else:
    print(0)

positive value

In [77]:
def checkofpositive_negative_function(a):
    if(a>0):
        return "positive value"
    elif(a<0):
        return "negative value"
    else:
        return 0

In [78]:
checkofpositive_negative_function(-3)

'negative value'